/* Général */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Header */
header {
    background-color: #2d52ce;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

/* Section */
section {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #333;
}

/* Liste des fichiers */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

ul li a {
    text-decoration: none;
    color: #2d52ce;
    font-weight: bold;
}

ul li a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
